<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
        
    </head>
    <body>
        <center><nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-primary">
            <a class="navbar-brand" href="#">USER MANAGEMENT SYSTEM</a></center>
        </nav>
    </body>
</html>
